Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.21
PyRSS2Gen==1.0.0
PyYAML==3.10
SQLAlchemy==0.9.4
psycopg2==2.4.6
Twisted==12.2.0
Werkzeug==0.9.4
altgraph==0.10.1
bdist-mpkg==0.4.4
gunicorn==18.0
itsdangerous==0.24
macholib==1.5
modulegraph==0.10.1
py2app==0.7.1
pyOpenSSL==0.13
pyaml==12.12.5
python-dateutil==1.5
pytz==2012d
virtualenv==1.11.5
wsgiref==0.1.2
xattr==0.6.4
