* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 2;
    background-color: #FFFFFF;
    border-bottom: 1px solid #555;
}

nav a {
    cursor: pointer;
    display: inline-block;
    padding: 0 1rem;
    text-transform: uppercase;
}
/* --------------- Controls section   ---------------- */
.controls {
    display: none;
    position: fixed;
    width: 110px;
    height: 110px;
    z-index: 30;
    right: 10px;
    bottom: 10px;
}

.controls div {
    position: absolute;
    opacity: 0.05;
    width: 0;
    height: 0;
    border: 12px solid transparent;

    -moz-transform: scale(.9999);

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.controls div.enabled {
    opacity: 0.7;
    cursor: pointer;
}

.controls div.enabled:active {
    margin-top: 1px;
}

.controls div.navigate-left {
    top: 42px;

    border-right-width: 22px;
    border-right-color: #000;
}
.controls div.navigate-left.fragmented {
    opacity: 0.3;
}

.controls div.navigate-right {
    left: 74px;
    top: 42px;

    border-left-width: 22px;
    border-left-color: #000;
}
.controls div.navigate-right.fragmented {
    opacity: 0.3;
}

.controls div.navigate-up {
    left: 42px;

    border-bottom-width: 22px;
    border-bottom-color: #000;
}
.controls div.navigate-up.fragmented {
    opacity: 0.3;
}

.controls div.navigate-down {
    left: 42px;
    top: 74px;

    border-top-width: 22px;
    border-top-color: #000;
}
.controls div.navigate-down.fragmented {
    opacity: 0.3;
}
/* ------------ End Controls Section --------- */


/* partial containers */
.page-container {
    height: 100%;
    width: 100%;
    position: relative;
    transform: translate3d(0,0,0);
}

.page-view {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    perspective: 1000;
    color: #FFFFFF;
}

.pages {
    height: inherit;
    padding: 2rem;
}

#catalog {
    background-color: #0AC2D2;
}

#mozh {
    background-color: #60D7A9;
}

#about {
    background-color: #FDC162;
}

#ash {
    background-color: #FD6A62;
}


/* Transitions */

/* Default Enter/Leave */
.ng-enter,
.ng-leave {
    transition-timing-function: ease;
    transition-duration: 250ms;
    transition-property: opacity;
}

.ng-enter {
    opacity: 0;
}

.ng-enter.ng-enter-active {
    opacity: 1;
}

.ng-leave {
    opacity: 1;
}

.ng-leave.ng-leave-active {
    opacity: 0;
}

/* crossFade */
.crossFade.ng-enter {
    transition-duration: 100ms;
    opacity: 0;
}

.crossFade.ng-enter.ng-enter-active {
    opacity: 1;
}

.crossFade.ng-leave {
    transition-duration: 100ms;
    opacity: 1;
}

.crossFade.ng-leave.ng-leave-active {
    opacity: 0;
}

/* slideRight */
.slideRight {
    opacity: 1 !important;
}

.slideRight.ng-enter {
    transition-property: none;
    transform: translate3d(-100%,0,0);
}

.slideRight.ng-enter.ng-enter-active {
    transition-property: all;
    transform: translate3d(0,0,0);
}

.slideRight.ng-leave {
    transition-property: all;
    transform: translate3d(0,0,0);
}

.slideRight.ng-leave.ng-leave-active {
    transition-property: all;
    transform: translate3d(100%,0,0);
}

/* slideLeft */
.slideLeft {
    opacity: 1 !important;
}

.slideLeft.ng-enter {
    transition-property: none;
    transform: translate3d(100%,0,0);
}

.slideLeft.ng-enter.ng-enter-active {
    transition-property: all;
    transform: translate3d(0,0,0);
}

.slideLeft.ng-leave {
    transition-property: all;
    transform: translate3d(0,0,0);
}

.slideLeft.ng-leave.ng-leave-active {
    transition-property: all;
    transform: translate3d(-100%,0,0);
}

/* slideDown */
.slideDown {

}

.slideDown.ng-enter {
    transition-property: none;
    transform: translate3d(0,-100%,0);
}

.slideDown.ng-enter.ng-enter-active {
    transition-property: all;
    transform: translate3d(0,0,0);
}

.slideDown.ng-leave {
    transition-property: all;
    transform: translate3d(0,0,0);
}

.slideDown.ng-leave.ng-leave-active {
    transition-property: all;
    transform: translate3d(0,100%,0);
}

/* slideUp */
.slideUp {
    opacity: 1 !important;
}

.slideUp.ng-enter {
    transition-property: none;
    transform: translate3d(0,100%,0);
}

.slideUp.ng-enter.ng-enter-active {
    transition-property: all;
    transform: translate3d(0,0,0);
}

.slideUp.ng-leave {
    transition-property: all;
    transform: translate3d(0,0,0);
}

.slideUp.ng-leave.ng-leave-active {
    transition-property: all;
    transform: translate3d(0,-100%,0);
}

